{% extends 'base-text.html' %}
{% import "macros/components.html" as m %}


{% block title %}{{ m.title(_('Terms of Use')) }}{% endblock %}


{% block header %}
{{ m.basic_header(_('Terms of Use'), current_user) }}
{% endblock %}


{% block main %}
<article class="p-4 md:p-0 max-w-xl mx-auto md:my-24 md:mb-36">
{% set contact_url = url_for('about.contact') %}
<div class="prose">

<p>Welcome to Ambuda! To fulfill our mission of making the Sanskrit tradition
radically accessible, Ambuda provides users with the ability to read
traditional Sanskrit literature and collaborate on proofing those texts.</p>

<p>We encourage your participation in the Ambuda community. You may read and
share texts on Ambuda, as well as contribute to adding, transcribing, and
discussing texts through proofing, under the following conditions:</p>

<ul>
    <li>You are legally responsible for any content you contribute to Ambuda.</li>
    <li>Be kind and respectful to others; do not harass, abuse, or violate the
        privacy of others.</li>
    <li>Do not violate the law, including appropriate copyright laws.</li>
    <li>Do not engage in activity that can harm our technical infrastructure or
        disrupt the ability of other users to use Ambuda.</li>
</ul>

<p>If you have any questions about these terms, please <a href="{{ contact_url }}">contact us</a>.</p>

</div>
</article>
{% endblock %}
